* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #94d4f1, #32b8ca);
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container .tenor-gif-embed {
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background: #333;
    padding: 10px 25px;
    border-radius: 12px;
    cursor: pointer;
    transition: top 0.2s, left 0.2s;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}